.blue .cg-board-wrap{
  background-image: url(images/board/blue.svg);
}

.wood .cg-board-wrap {
  position: relative;
  background-image: url('images/board/wood2.jpg');
  background-size: cover;
}

.marble .cg-board-wrap {
  position: relative;
  background-image: url('images/board/marble.jpg');
  background-size: cover;
}

.blue2 .cg-board-wrap {
  position: relative;
  background-image: url('images/board/blue2.jpg');
  background-size: cover;
}


.gray .cg-board-wrap{
  position: relative;
  background-image: url(images/board/gray.svg);
  background-size: cover;
}

.gray-hi .cg-board-wrap{
  position: relative;
  background-image: url(images/board/gray-hi.png);
  background-size: cover;
}

.red .cg-board-wrap{
  position: relative;
  background-image: url(images/board/red.png);
  background-size: cover;
}



.light-wood-3d .cg-board {
  position: absolute;
  left: 0;
  top: 0.6168702%;
  width: 100%;
  height: 97.0229%;
}